body{

    /* background:linear-gradient(to bottom, #e7e3ec, #675982); */
    background:linear-gradient(to bottom, pink, #438080);
    margin: 0;

}

.display-block{
    display: block;
}

main{margin: 0 auto;
    width: 80%;
    font-family: serif;
    font-size: 19px;
}

header{
    background-color: #a57384;
    height: 70px;
    position: sticky;
    top: -55px;
}

nav{
    color: white;
    padding: 22px 0;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    width: 80%;
    margin: 0 auto;
}
.nav-links{
    text-align: right;
}
nav a{
    color: #eaf5ff;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

.design{
    padding: 65px 0 65px 0;
}


#about-me h1{
    margin: 20px 0 20px 0;
    font-size: 40px;
}

.image img{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    border: 2px solid black;
}

.figure-caption{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
 
.image div{
    font-size: 13px;
    font-weight: bold;
}


.intro p{
    text-align: left;
}

.title{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}


.skills{
    margin-top: 150px;
    float: right;
}

.skills img{
    width: 100px;
    height: 100px;
    margin: 30px 30px 0 30px;
    border-radius: 5%;
    border: 2px solid black;
}

.contact-form{
    font-size: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
}


form label{
    width:40%;
    display: inline-block;
}

form div{
    margin-bottom: 20px;
}

form input{
    width:50%;
}
form textarea{
    width: 50%;
    height: 100px;
}


form button{
    width: 90px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5%;
    display: block;
    margin: 0 auto;
}

form button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-media img{
    width: 50px;
    height: 50px;
    margin: 20px 20px 0 20px;
    border-radius: 25%;
}

.social-media img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.project-list img{
    width: 550px;
    height: 400px;
    margin: 20px 0;
    border-radius: 5%;
    border: 2px solid black;
}

.project-list img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.project-list hr{
    border: 1px solid #292980;
    margin: 50px 0 50px 0;
}

footer{
    background-color: #2a6e6e;
    height: 70px;
    text-align: center;
}

footer p{
    font-size: 16px;
    display: inline-block;
    width: 85%;
    font-size: 19px;
    text-align: center;
}

.back-to-top{
    display: inline-block;
}
.back-to-top a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.project-buttons button{
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 7%;
    display: inline-block;
    margin: 30px 0;
}

.project-buttons button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}   

.about-me-content{
    display: inline-block;
    width: 67%;
    vertical-align: top;
    text-align: left;
    font-size: 19px;
}

.image{
    margin-right: 0;
    display: inline-block;

}

.skills-list{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.skills-list ul{
    padding-left: 20px;
}

.skills-wrapper{
    margin-top: 10px;
}

.form-elements{
    margin-bottom: 40px;
}

.back-to-top button{
     height: 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 7%;
}

.back-to-top button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}