/* *********************** CSS Variables ********************** */

:root {
  --black-color: #000000;
  --blue-color: #0c0433;
  --display-flex: flex;
  --font-20: 20px;
}

/* *********************** Common CSS ********************** */

body {
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

main {
  background-color: #ddc3bb;
  width: 100%;
  display: var(--display-flex);
}
main img {
  height: 300px;
  border-radius: 10px;
}

.products img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px 8px #0a0133;
  cursor: pointer;
}

.trending-products.products {
  margin: 0 auto;
}

.products {
  width: 70%;
  display: var(--display-flex);
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  gap: 90px;
}

.products img {
  width: 300px;
  height: 300px;
  border: 2px solid var(--black-color);
  margin-top: 90px;
  box-shadow: 25px 25px 35px -5px var(--black-color);
}

main button {
  font-size: 14px;
  font-weight: bold;
  background-color: var(--blue-color);
  color: white;
  border-radius: 10%;
  font-style: italic;
  padding: 10px;
}

main button:hover {
  transform: scale(1.1);
  background-color: #ad92df;
  color: var(--black-color);
  box-shadow: 7px 7px 0 0 var(--black-color);
  cursor: pointer;
}

.products .buttons {
  display: var(--display-flex);
  justify-content: space-evenly;
  margin-top: 20px;
}

.aside {
  text-align: left;
  padding-left: 95px;
  width: 12%;
  box-shadow: -10px 0px 18px 0px #0a0133;
}

.aside ul {
  list-style-type: none;
  font-size: var(--font-20);
  padding: 20px 0px;
}

.aside ul li {
  padding: 10px;
}

.aside .filters {
  font-size: 25px;
  font-weight: bold;
  margin-top: 90px;
}

.checkbox-content {
  display: block;
  margin-top: 10px;
}

.banner-image {
  background-image: url("./../images/banner.png");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: -2px -148px;
  display: var(--display-flex);
  justify-content: space-evenly;
  align-items: center;
}

.banner-name {
  font-size: 85px;
  font-weight: bold;
  color: var(--blue-color);
  text-shadow: 160px 75px 4px #ae828aa3;
  font-family: cursive;
}

.baby-image img {
  height: 300px;
  width: 300px;
  border-radius: 30%;
  border: 3px solid grey;
  box-shadow: 0px 0px 58px 13px #090325;
}

.cart {
  position: absolute;
  top: 5px;
  right: 10px;
}

.cart img {
  width: 100px;
  height: 100px;
}

nav {
  display: var(--display-flex);
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding: 45px;
  background: #bb969e;
}

.navigations a {
  padding: 15px 15px;
  background-color: var(--blue-color);
  text-decoration: none;
  color: white;
  font-size: var(--font-20);
  border-radius: 5px;
}

.navigations a:hover {
  transform: scale(1.1);
  background-color: #ad92df;
  color: var(--black-color);
  box-shadow: 7px 7px 0 0 var(--black-color);
  cursor: pointer;
}

/*  ************************  Home  *********************** */

.trending-heading {
  font-size: 38px;
  color: #430443;
  padding-top: 50px;
  font-weight: bold;
}

.trending-heading::before {
  content: "⭐ ";
  color: gold;
}

.content {
  width: 55%;
  margin: 0 auto;
  font-size: var(--font-20);
  padding: 100px 0;
}

.form-group {
  display: var(--display-flex);
  margin-bottom: 20px;
  justify-content: center;
}

.form-elements label {
  width: 25%;
}

.form-elements input {
  width: 50%;
  height: 22px;
}

.form-elements input::placeholder {
  color: #bb969e;
  font-style: italic;
}

.form-elements textarea {
  width: 50%;
}

.form-elements textarea::placeholder {
  color: #bb969e;
  font-style: italic;
}

.social-media img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 1px var(--blue-color);
  cursor: pointer;
}

.content section img {
  width: 55px;
  height: 55px;
  margin: 0 33px;
}

.heading-text {
  font-size: 25px;
  font-weight: bold;
  margin: 35px 0;
  text-align: left;
}

.content hr {
  border: 1px solid #1b0f51;
  margin: 50px 0 50px 0;
}

/* ********************************************************************************* */

footer {
  background-color: #bb969e;
  font-size: 22px;
  font-weight: bold;
}

.footer {
  display: var(--display-flex);
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.footer img {
  width: 120px;
  height: 120px;
  border-radius: 35%;
}

.footer-content {
  display: var(--display-flex);
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: var(--black-color);
}

footer a:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
