body {
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

main {
  background-color: #ddc3bb;
  width: 100%;
  display: flex;
}
main img {
  height: 300px;
  border-radius: 10px;
}

.products img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 25px 8px #0a0133;
  cursor: pointer;
}

.trending-products.products {
  margin: 0 auto;
}

.products {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
  gap: 90px;
}

.products img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin-top: 90px;
  box-shadow: 25px 25px 35px -5px #000000;
}

main button {
  font-size: 14px;
  font-weight: bold;
  background-color: #1b0f51;
  color: white;
  border-radius: 10%;
  font-style: italic;
  padding: 10px;
}

main button:hover {
  transform: scale(1.1);
  background-color: #ad92df;
  color: black;
  box-shadow: 7px 7px 0 0 #21094e;
  cursor: pointer;
}

.products .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.aside {
  text-align: left;
  padding-left: 95px;
  width: 12%;
  box-shadow: -13px 20px 18px 0px #0a0133;
}

.aside ul {
  list-style-type: none;
  font-size: 20px;
  padding: 20px 0px;
}

.aside ul li {
  padding: 10px;
}

.aside .filters {
  font-size: 25px;
  font-weight: bold;
  margin-top: 90px;
}

.checkbox-content {
  display: block;
  margin-top: 10px;
}

/*  ************************  Home  *********************** */

.banner-image {
  background-image: url("./../images/banner.png");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: -2px -148px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-name {
  font-size: 85px;
  font-weight: bold;
  color: #0c0433;
  text-shadow: 160px 75px 4px #ae828aa3;
  font-family: cursive;
}

.baby-image img {
  height: 300px;
  width: 300px;
  border-radius: 30%;
  border: 3px solid grey;
  box-shadow: 0px 0px 58px 13px #090325;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding: 45px;
  background: #bb969e;
}

.navigations a {
  padding: 15px 15px;
  background-color: #141454;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.navigations a:hover {
  transform: scale(1.1);
  background-color: #ad92df;
  color: black;
  box-shadow: 7px 7px 0 0 #21094e;
  cursor: pointer;
}

.trending-heading {
  font-size: 38px;
  color: #430443;
  padding-top: 50px;
  font-weight: bold;
  text-decoration: underline;
}

.content {
  width: 55%;
  margin: 0 auto;
  font-size: 20px;
  padding: 100px 0;
}

.form-group {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.form-elements label {
  width: 25%;
}

.form-elements input {
  width: 50%;
}

.form-elements textarea {
  width: 50%;
}

.content section img {
  width: 50px;
  height: 50px;
  margin: 0 33px;
}

.heading-text {
  font-size: 25px;
  font-weight: bold;
  margin: 35px 0;
  text-align: left;
}

.content hr {
  border: 1px solid #1b0f51;
  margin: 50px 0 50px 0;
}

/* ********************************************************************************* */

footer {
  background-color: #bb969e;
  font-size: 22px;
  font-weight: bold;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.footer img {
  width: 120px;
  height: 120px;
  border-radius: 35%;
}

.footer-content {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
