body{
    text-align: center;
    margin: 0 auto;
}


main{
    background-color: #ddc3bb;
    position: relative;
    width: 100%;
    height: 1400px;
}
main img{
    height: 300px;
    border-radius: 10px;
}

main img:hover{
    transform: scale(1.1);
}

.products{
    position: absolute;
    width: 80%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.products img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: 90px;
}

.aside{
    left: 0;
    width: 20%;
    position: absolute;
    border: 2px solid black;
}


.aside ul{
    list-style-type: none;
}

.checkbox-content{
    display: block;
}

/*  ************************  Home  *********************** */

.banner-image{
    background-image: url(./images/banner.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: -2px -148px;
}

.banner-name{
    font-size: 85px;
    font-weight: bold;
    position: absolute;
    top: 21%;
    left: 40%;
}

.baby-image img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 10%;
    top: 10%;
    border-radius: 30%;
    border: 3px solid grey;
    box-shadow: 0px 0px 52px 13px #000000;
}

nav{   display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: 45px;
    background: #bb969e;
}

.navigations a{
    padding: 15px 15px;
    background-color: #141454;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.navigations a:hover{
    transform: scale(1.1);
}

.trending-heading{
    font-size: 35px;
    padding-top: 50px;
    font-weight: bold;
}

